Repository oscal-compass/compliance-to-policy-go, pull requests merged in 2025-08, with the labels that each got.

#195 fix: updates the Context function to include target components
  cmd/c2pcli/cli/subcommands/config.go
  cmd/c2pcli/cli/subcommands/config_test.go
  framework/actions/aggregate_test.go
  framework/actions/input.go
  framework/actions/input_test.go
  framework/actions/report_test.go
Labels: v2, source

#194 chore: incorporates protobuf linting and fixes
  .github/workflows/ci.yml
  Makefile
  api/proto/models.pb.go
  api/proto/models.proto
  api/proto/policy.pb.go
  api/proto/policy.proto
  api/proto/policy_grpc.pb.go
  buf.gen.yaml
  buf.yaml
  plugin/plugin.go
  plugin/policy_client.go
  plugin/policy_plugin.go
  plugin/transform.go
  plugin/transform_test.go
Labels: v2, root, scripts, source, ci/cd

#214 fix: remove deprecated builds field
  .goreleaser.yaml
Labels: v2, root, source
