Repository oscal-compass/compliance-to-policy-go, pull requests merged in 2025-09, with the labels that each got.

#231 docs: updating context for waived rules
  docs/QUICK_START.md
Labels: v2, docs

#229 feat: updating markdown results for passed and waived rules
  .markdownlint.json
  framework/template/posture.md
  framework/testdata/assessment-results-multi-comp.md
  framework/testdata/assessment-results-without-findings.md
  framework/testdata/assessment-results.md
Labels: v2, root, docs, source, feature

#239 chore: updates golang version to 1.24 in goreleaser workflow
  .github/workflows/goreleaser-workflow.yml
Labels: v2, source, ci/cd
