Repository oscal-compass/compliance-to-policy-go, pull requests merged in 2025-06, with the labels that each got.

#141 chore: add observation prop for check id
  framework/actions/report.go
  go.mod
  go.sum
Labels: v2, root, source

#144 fix: observationByCheck subjects should be valid
  framework/actions/report.go
  framework/actions/report_test.go
Labels: v2, source, feature

#148 fix: removes Check_Id props from target component in testdata
  pkg/testdata/oscal/component-definition-heterogeneous.json
Labels: v2, source

#155 fix: updating nil check for control mappings
  framework/actions/report.go
Labels: v2, source

#157 docs: update MAINTAINERS.md
  MAINTAINERS.md
Labels: v2, root, docs, source

#162 docs: adds initial security-insights.yml file
  .github/security-insights.yml
Labels: v2, source, ci/cd

#166 docs: add @marcusburghardt to MAINTAINERS.md
  MAINTAINERS.md
Labels: v2, root, docs, source
